@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@keyframes typing{
  from{opacity: 0}
  to{opacity: 1;}
}

@keyframes typingAnimation {
  0%   {opacity: 1}
  10%  {opacity: 1}
  20%  {opacity: 1}
  40%  {opacity: 1}
  50%  {opacity: 1}
  60%  {opacity: 0}
  70%  {opacity: 0}
  80%  {opacity: 0}
  90%  {opacity: 0}
  100%  {opacity: 0}
}

@keyframes linuxAnimation {
  from{transform: translateY(-5px)}
  to{transform: translateY(5px)}
}

@keyframes windowsAnimation {
  from{transform: translate(-50%, 5px)}
  to{transform: translate(-50%, -5px)}
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.notVisible{
  opacity: 0;
  transform: scale(0.5);
}

.blur {
  filter: blur(6px);
}

.blurWhenMessegeActive{
  transition: filter .7s;
}

header {
  height: 95vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15vh;
  min-height: 500px;
  justify-content: center;
}

header .content-container {
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  align-items: center;
  width: 100%;
  justify-content: center;
}

header .content-container .text {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

header .content-container .text .title {
  font-weight: 700;
  color: #4E2DD2;
  font-size: 6vmin;
}

header .content-container .text .title p {
  position: relative;
}

header .content-container .text .title p span {
  background-color: #4e2dd296;
  width: 4px;
  height: 100%;
  position: absolute;
  margin-left: 2px;
  content: '';
}

header .content-container .text .description {
  font-size: 5vmin;
  transition: transform 2s, opacity 2s;
}

header .content-container .images-container {
  width: 50vmin;
  height: 50vmin;
  background-color: grey;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  transition: transform 2s, opacity 2s;
}

header .content-container .images-container .mainphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

header .content-container .images-container .smallimg {
  position: absolute;
  z-index: 2;
  width: 13vmin;
  min-width: 40px;
  max-width: 60px;
}

.linux {
  left: -15px;
  bottom: 25px;
  animation: linuxAnimation 1.5s alternate infinite;
}

.microsoft {
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  animation: windowsAnimation 1.5s alternate infinite;
}

.azure{
  right: -15px;
  bottom: 25px;
  animation: linuxAnimation 1.5s alternate infinite;
}

.moreInfo{
  transition: transform 2s, opacity 2s;
}

.messageButton-container {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  height: 40px;
  z-index: 3;
}

.messageButton-container .messageButton {
  font-weight: 500;
  background: white;
  padding: 5px 10px;
  border: 3px solid #4e2dd2;
  z-index: 3;
  background-color: white;
  color: #4e2dd2;
}

.messageInfo-container {
  position: fixed;
  background-color: grey;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.messageInfo-container .messageInfo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  border-radius: 18px;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.messageInfo-container .messageInfo p {
  background-color: #4E2DD2;
  color: white;
  padding: 10px;
  font-size: 3.5vmin;
  font-weight: 500;
}

.messageInfo-container .messageInfo .images {
  display: flex;
  column-gap: 70px;
}

.messageInfo-container .messageInfo .images img {
  width: 17vmin;
  max-width: 60px;
}

.messageInfo-container .messageInfo .images a{
  text-decoration: none;
}

.messageInfo-container .messageInfo img{
  width: 2vmin;
}

@media (min-width: 350px) {
  
}

@media (min-width: 450px) {
  header .content-container .text .title {
    font-size: 22px;
  }
  header .content-container .text .description {
    font-size: 17px;
  }

  .messageInfo-container .messageInfo p{
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  header .content-container .text .title {
    font-size: 40px;
  }
}

@media (min-width: 890px) {
  header .content-container {
    flex-direction: row;
    column-gap: 10%;
  }
}

@media (min-width: 1200px) {
  header .content-container .text {
    max-width: 640px;
  }

  header .content-container .text .title {
    font-size: 48px;
  }

  header .content-container .text .description {
    font-size: 23px;
  }
}

@media (min-width: 1700px) {
  header .content-container .text {
    max-width: 800px;
  }

  header .content-container .text .title {
    font-size: 60px;
  }

  header .content-container .text .description {
    padding-right: 20px;
  }

  header .content-container .images-container {
    max-width: 300px;
    max-height: 300px;
  }

  header .content-container .images-container .smallimg {
    max-width: 75px;
}
}