@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@keyframes typing{
  from{opacity: 0}
  to{opacity: 1;}
}

@keyframes arrowDown{
  from{transform: translateY(-5px)}
  to{transform: translateY(5px)}
}

@keyframes typingAnimation {
  0%   {opacity: 1}
  10%  {opacity: 1}
  20%  {opacity: 1}
  40%  {opacity: 1}
  50%  {opacity: 1}
  60%  {opacity: 0}
  70%  {opacity: 0}
  80%  {opacity: 0}
  90%  {opacity: 0}
  100%  {opacity: 0}
}

@keyframes linuxAnimation {
  from{transform: translateX(-5px)}
  to{transform: translateX(5px)}
}

@keyframes windowsAnimation {
  from{transform: translateX(5px)}
  to{transform: translateX(-5px)}
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  overflow: hidden;
}

.notVisible{
  opacity: 0;
  transform: scale(0.5);
}

.blur {
  filter: blur(10px);
}

.blurWhenMessegeActive{
  transition: filter .7s;
}

header {
  height: 95vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15vh;
  min-height: 600px;
  justify-content: center;
}

header .content-container {
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  align-items: center;
  width: 100%;
  justify-content: center;
}

header .content-container .text {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

header .content-container .text .title {
  font-weight: 700;
  color: #4E2DD2;
  font-size: 6vmin;
}

header .content-container .text .title p {
  position: relative;
}

header .content-container .text .title p span {
  background-color: #4e2dd296;
  width: 4px;
  height: 100%;
  position: absolute;
  margin-left: 2px;
  content: '';
}

header .content-container .text .description {
  font-size: 5vmin;
}

header .content-container .images-container {
  width: 50vmin;
  height: 50vmin;
  background-color: grey;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  position: relative;
}

header .content-container .images-container .mainphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.messageButton-container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  height: 50px;
  z-index: 3;
  overflow: hidden;
}

.messageButton-container .messageButton {
  font-weight: 700;
  background: white;
  padding: 5px 10px;
  border: 3px solid #000000;
  z-index: 3;
  background-color: white;
  color: #000000;
  transition: opacity .4s, transform .4s;
  cursor: pointer;
}

.messageButton-container .messageButton.hide {
  opacity: 0;
}

.messageInfo-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: opacity .2s;
}

.messageInfo-container.hide{
  opacity: 0;
}

.messageInfo-container .messageInfo {
  position: relative;
background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border-radius: 18px;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 60px;
  padding-bottom: 30px;
-webkit-box-shadow: 0px 0px 49px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 49px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 25px 0px rgba(66, 68, 90, 1);
  transition: transform .2s;
}

.messageInfo.hide {
  transform: translateY(-50%);
}

.messageInfo-container .messageInfo .closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.messageInfo-container .messageInfo .closeButton img {
  width: 20px;
}

.messageInfo-container .messageInfo .mail {
  color: black;
  padding: 5px;
  font-size: 3.5vmin;
  font-weight: 700;
  border-bottom: 3px solid black;
}

.messageInfo-container .messageInfo .images {
  display: flex;
  column-gap: 70px;
  flex-direction: column;
  row-gap: 20px;
}

.messageInfo-container .messageInfo .images img {
  width: 17vmin;
  max-width: 30px;
}

.messageInfo-container .messageInfo .images a {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: black;
}

.messageInfo-container .messageInfo img{
  width: 2vmin;
}

header .moreInfo {
  transition: transform 2s, opacity 2s;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #4e2dd2;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px 2px rgba(66, 68, 90, 1);
}

header .moreInfo::before {
  position: absolute;
  content: 'dowiedz się więcej';
  white-space: nowrap;
  top: -35px;
  font-size: 12px;
  font-weight: 700;
  color: #4e2dd2;
}

header .moreInfo img {
  width: 25px;
  animation: arrowDown 1s alternate infinite;
}

main {
  min-height: 100vh;
  background-color: #E0E0E0;
  padding: 70px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  row-gap: 40px;
}

main .content-container .text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

main .content-container .text .title {
  font-weight: 700;
  font-size: 9vmin;
}

main .content-container .text .content {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

main .content-container .text .content .secondP {
  font-weight: 700;
  font-size: 17px;
}

main .content-container .images {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

main .content-container .images .linux {
  animation: linuxAnimation 1.5s alternate infinite;
}

.windows {
  animation: windowsAnimation 1.5s alternate infinite;
}

.azure{
  animation: linuxAnimation 1.5s alternate infinite;
}

main .content-container .images img {
  width: 75vmin;
  max-width: 310px;
}

footer {
  background-color: #4e2dd263;
  padding: 10px;
}

@media (min-width: 450px) {
  header .content-container .text .title {
    font-size: 22px;
  }
  header .content-container .text .description {
    font-size: 17px;
  }

  .messageInfo-container .messageInfo .mail{
    font-size: 16px;
  }

  header .moreInfo {
    margin-top: 60px;
  }

  main .content-container .text .title {
    font-size: 30px;
  }
}

@media (min-width: 600px) {
  header .content-container .text .title {
    font-size: 40px;
  }

  main .content-container .text .title {
    font-size: 50px;
  }
}

@media (min-width: 890px) {
  header {
    min-height: 400px;
  }

  main{
    padding: 20px;
  }
  
  header .content-container {
    flex-direction: row;
    column-gap: 10%;
  }

  main .content-container {
    flex-direction: row;
    column-gap: 10%;
    align-items: flex-start;
  }

  main .content-container .text .content {
    font-size: 20px;
  }

  main .content-container .text .content .secondP {
    font-size: 25px;
  }

  main .content-container .images img {
    max-width: 220px;
  }

  .messageInfo-container{
    align-items: flex-end;
  }

}

@media (min-width: 1200px) {
  header .content-container .text {
    max-width: 640px;
  }

  header .content-container .text .title {
    font-size: 48px;
  }

  header .content-container .text .description {
    font-size: 23px;
  }

  main .content-container .text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  main .content-container .text .title {
    font-size: 60px;
  }

  main .content-container .images img {
    max-width: 270px;
  }
}

@media (min-width: 1700px) {
  header .content-container .text {
    max-width: 800px;
  }

  header .content-container .text .title {
    font-size: 60px;
  }

  header .content-container .text .description {
    padding-right: 20px;
  }

  header .content-container .images-container {
    max-width: 300px;
    max-height: 300px;
  }

  header .content-container .images-container .smallimg {
    max-width: 75px;
  }
}

@media (min-height: 700px){
  header .moreInfo {
    top: 9%;
  }
}

