@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@keyframes typingAnimation {
  from{opacity: 0}
  to{opacity: 1;}
}

@keyframes linuxAnimation {
  from{transform: translateY(-5px)}
  to{transform: translateY(5px)}
}

@keyframes windowsAnimation {
  from{transform: translate(-50%, 5px)}
  to{transform: translate(-50%, -5px)}
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.notVisible{
  opacity: 0;
  transform: scale(0.5);
}

header {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10%;
  min-height: 500px;
  justify-content: center;
}

header .text {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

header .text .title {
  font-weight: 700;
  color: #4E2DD2;
  font-size: 6vmin;
}

header .text .title p {
  position: relative;
}

header .text .title p span {
  background-color: #4e2dd296;
  width: 4px;
  height: 100%;
  position: absolute;
  margin-left: 2px;
  content: '';
}

header .text .description {
  font-size: 5vmin;
  transition: transform 2s, opacity 2s;
}

header .images-container {
  width: 50vmin;
  height: 50vmin;
  background-color: grey;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  transition: transform 2s, opacity 2s;
}

header .images-container .mainphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

header .images-container .smallimg {
  position: absolute;
  z-index: 2;
  width: 13vmin;
  min-width: 40px;
  max-width: 60px;
}

.linux {
  left: -15px;
  bottom: 25px;
  animation: linuxAnimation 1.5s alternate infinite;
}

.microsoft {
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  animation: windowsAnimation 1.5s alternate infinite;
}

.azure{
  right: -15px;
  bottom: 25px;
  animation: linuxAnimation 1.5s alternate infinite;
}

button {
  border: none;
  font-size: 4vmin;
  padding: 10px 20px;
  color: white;
  background-color: #4e2dd2ba;
}

@media (min-width: 350px) {
  button {
    font-size: 14px;
  }
}

@media (min-width: 450px) {
  header .text .title {
    font-size: 22px;
  }
  header .text .description {
    font-size: 17px;
  }
}

@media (min-width: 600px) {
  header .text .title {
    font-size: 40px;
  }
}

@media (min-width: 890px) {
  header {
    flex-direction: row;
    column-gap: 10%;
  }
}